body {
  background: white;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sky {
  margin-top: -60px;
  perspective: 400px;
  filter: drop-shadow(0px 150px 10px rgba(0, 0, 0, 0.2));
}
@-moz-document url-prefix() {
  #sky {
    filter: none;
  }
}
#sky div {
  transform-style: preserve-3d;
}
#sky .bird {
  -webkit-animation: fly 10000ms linear infinite;
  animation: fly 10000ms linear infinite;
}
#sky .bird .wind {
  position: absolute;
  left: 50%;
  width: 4px;
  height: 200px;
  margin-left: -2px;
  border-radius: 999px;
  overflow: hidden;
}
#sky .bird .wind:nth-child(1) {
  transform: translate3d(45px, -25px, -88px) rotateY(90deg);
}
#sky .bird .wind:nth-child(1)::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 300px;
  background: rgba(100, 200, 158, 0.3);
  border-radius: 999px;
  transform: translateY(-300px);
  -webkit-animation: wind 2560ms 1851ms linear infinite;
  animation: wind 2560ms 1851ms linear infinite;
}
#sky .bird .wind:nth-child(2) {
  transform: translate3d(35px, -50px, -86px) rotateY(90deg);
}
#sky .bird .wind:nth-child(2)::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 300px;
  background: rgba(100, 200, 104, 0.3);
  border-radius: 999px;
  transform: translateY(-300px);
  -webkit-animation: wind 2289ms 3148ms linear infinite;
  animation: wind 2289ms 3148ms linear infinite;
}
#sky .bird .wind:nth-child(3) {
  transform: translate3d(181px, -137px, 20px) rotateY(90deg);
}
#sky .bird .wind:nth-child(3)::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 300px;
  background: rgba(100, 200, 124, 0.3);
  border-radius: 999px;
  transform: translateY(-300px);
  -webkit-animation: wind 2692ms 1226ms linear infinite;
  animation: wind 2692ms 1226ms linear infinite;
}
#sky .bird .wind:nth-child(4) {
  transform: translate3d(-72px, -72px, 36px) rotateY(90deg);
}
#sky .bird .wind:nth-child(4)::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 300px;
  background: rgba(100, 200, 239, 0.3);
  border-radius: 999px;
  transform: translateY(-300px);
  -webkit-animation: wind 1790ms 2691ms linear infinite;
  animation: wind 1790ms 2691ms linear infinite;
}
#sky .bird .wind:nth-child(5) {
  transform: translate3d(-31px, 96px, -42px) rotateY(90deg);
}
#sky .bird .wind:nth-child(5)::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 300px;
  background: rgba(100, 200, 244, 0.3);
  border-radius: 999px;
  transform: translateY(-300px);
  -webkit-animation: wind 2804ms 2673ms linear infinite;
  animation: wind 2804ms 2673ms linear infinite;
}
#sky .bird .wind:nth-child(6) {
  transform: translate3d(146px, -116px, 32px) rotateY(90deg);
}
#sky .bird .wind:nth-child(6)::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 300px;
  background: rgba(100, 200, 102, 0.3);
  border-radius: 999px;
  transform: translateY(-300px);
  -webkit-animation: wind 2802ms 2753ms linear infinite;
  animation: wind 2802ms 2753ms linear infinite;
}
#sky .bird .wind:nth-child(7) {
  transform: translate3d(-148px, -130px, -59px) rotateY(90deg);
}
#sky .bird .wind:nth-child(7)::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 300px;
  background: rgba(100, 200, 88, 0.3);
  border-radius: 999px;
  transform: translateY(-300px);
  -webkit-animation: wind 2385ms 1196ms linear infinite;
  animation: wind 2385ms 1196ms linear infinite;
}
#sky .bird .wind:nth-child(8) {
  transform: translate3d(-195px, 9px, 24px) rotateY(90deg);
}
#sky .bird .wind:nth-child(8)::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 300px;
  background: rgba(100, 200, 72, 0.3);
  border-radius: 999px;
  transform: translateY(-300px);
  -webkit-animation: wind 1143ms 2940ms linear infinite;
  animation: wind 1143ms 2940ms linear infinite;
}
#sky .bird .wind:nth-child(9) {
  transform: translate3d(-180px, -87px, -14px) rotateY(90deg);
}
#sky .bird .wind:nth-child(9)::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 300px;
  background: rgba(100, 200, 115, 0.3);
  border-radius: 999px;
  transform: translateY(-300px);
  -webkit-animation: wind 1431ms 3223ms linear infinite;
  animation: wind 1431ms 3223ms linear infinite;
}
#sky .bird .wind:nth-child(10) {
  transform: translate3d(1px, 50px, -26px) rotateY(90deg);
}
#sky .bird .wind:nth-child(10)::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 300px;
  background: rgba(100, 200, 226, 0.3);
  border-radius: 999px;
  transform: translateY(-300px);
  -webkit-animation: wind 1476ms 1752ms linear infinite;
  animation: wind 1476ms 1752ms linear infinite;
}
#sky .bird .wind:nth-child(11) {
  transform: translate3d(-113px, 138px, 1px) rotateY(90deg);
}
#sky .bird .wind:nth-child(11)::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 300px;
  background: rgba(100, 200, 249, 0.3);
  border-radius: 999px;
  transform: translateY(-300px);
  -webkit-animation: wind 1211ms 4926ms linear infinite;
  animation: wind 1211ms 4926ms linear infinite;
}
#sky .bird_body {
  position: relative;
  width: 30px;
  height: 40px;
  background: #85aeee;
}
#sky .bird_head {
  position: absolute;
  top: -30px;
  border-right: 15px solid transparent;
  border-bottom: 30px solid #b27ae8;
  border-left: 15px solid transparent;
  transform-origin: 50% 100%;
  transform: rotateX(-20deg);
}
#sky .bird_wing_left {
  position: absolute;
  left: -30px;
  height: 30px;
  border-right: 30px solid #b6aaf9;
  border-bottom: 10px solid transparent;
  transform-origin: 100% 0;
  -webkit-animation: wingLeft 1000ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite
    alternate;
  animation: wingLeft 1000ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite alternate;
}
#sky .bird_wing_left_top {
  position: absolute;
  left: -30px;
  border-right: 30px solid #7374cf;
  border-bottom: 30px solid transparent;
  transform-origin: 100% 0;
  -webkit-animation: wingLeft 1000ms cubic-bezier(0.545, 0.08, 0.52, 0.975)
    infinite alternate;
  animation: wingLeft 1000ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite
    alternate;
}
#sky .bird_wing_right {
  position: absolute;
  left: 30px;
  height: 30px;
  border-left: 30px solid #b0aff7;
  border-bottom: 10px solid transparent;
  transform-origin: 0 0;
  -webkit-animation: wingRight 1000ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite
    alternate;
  animation: wingRight 1000ms cubic-bezier(0.36, 0.1, 0.16, 1) infinite
    alternate;
}
#sky .bird_wing_right_top {
  position: absolute;
  border-left: 30px solid #68bbfb;
  border-bottom: 30px solid transparent;
  transform-origin: 0 0;
  -webkit-animation: wingRight 1000ms cubic-bezier(0.545, 0.08, 0.52, 0.975)
    infinite alternate;
  animation: wingRight 1000ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite
    alternate;
}
#sky .bird_tail_left {
  position: absolute;
  top: 40px;
  border-right: 30px solid transparent;
  border-top: 40px solid #c4a9e8;
  transform-origin: 50% 0;
  transform: rotateX(-20deg);
}
#sky .bird_tail_right {
  position: absolute;
  top: 40px;
  border-left: 30px solid transparent;
  border-top: 40px solid #979ee8;
  transform-origin: 50% 0;
  transform: rotateX(-20deg);
}

@-webkit-keyframes fly {
  0% {
    transform: rotateX(-120deg) rotateZ(0deg) rotateX(10deg);
  }
  100% {
    transform: rotateX(-120deg) rotateZ(360deg) rotateX(10deg);
  }
}

@keyframes fly {
  0% {
    transform: rotateX(-120deg) rotateZ(0deg) rotateX(10deg);
  }
  100% {
    transform: rotateX(-120deg) rotateZ(360deg) rotateX(10deg);
  }
}
@-webkit-keyframes wingLeft {
  0% {
    transform: rotateY(-40deg);
  }
  100% {
    transform: rotateY(40deg);
  }
}
@keyframes wingLeft {
  0% {
    transform: rotateY(-40deg);
  }
  100% {
    transform: rotateY(40deg);
  }
}
@-webkit-keyframes wingRight {
  0% {
    transform: rotateY(40deg);
  }
  100% {
    transform: rotateY(-40deg);
  }
}
@keyframes wingRight {
  0% {
    transform: rotateY(40deg);
  }
  100% {
    transform: rotateY(-40deg);
  }
}
@-webkit-keyframes wind {
  0% {
    transform: translateY(-300px);
  }
  100% {
    transform: translateY(200px);
  }
}
@keyframes wind {
  0% {
    transform: translateY(-300px);
  }
  100% {
    transform: translateY(200px);
  }
}
